
.errorMessage {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #be4242;
    width: 640px;  
    left: 50%;
    right: 50%;
    top: 150px;
    position: relative;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;

    * {
        margin: 30px;
        color: #FFFFFF;
        font-weight: 700;
    }

    .close {
        cursor: pointer;
    }
}