@import 'src/nullStyle.scss';
@import 'src/App.module.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.chat {
    
    width: 100%;
    height: 100%;
    background: #F8F8F8;
    
}

.list {
    height: calc(100vh - 150px);
    padding: 10px 10px 0;
    margin-bottom: 10px;
}

// .messages::-webkit-scrollbar {
//     display: none;
// }

.avatar {
    display: inline-block;
    background-color: orange;
    border-radius: 50%;
    line-height: 45px;
    height: 45px;
    width: 45px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

.photo {
    display: block;
    width: 41px;
    height: 41px;
}

.messageArea {
    display: block;
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 4px;
    margin-bottom: 5px;
    padding-left: 22.9px;
    padding-top: 19px;
    width: 664px;
    height: 183px;
    resize: none;
}

.messageList {
    display: flex;
    flex-direction: column;
}

.ownMessage {
    display: inline-block;
    padding: 10px;
    background: #FFFFFF;
    width: 300px;
    overflow: hidden;
    padding: 6px 12px 6px 12px;
    margin-left: 50%;
}

.notOwnMessage {
    display: inline-block;
    background: #349A89;
    color: #FFFFFF;
    padding: 10px;
    width: 300px;
    padding: 6px 12px 6px 12px;
    overflow: hidden;
   
    
}
.chatHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E7E9ED;
    padding-left: 17px;

    p  {
        cursor: default;
        margin-left: 16px;
        margin-right: 52px;
        font-family: 'Roboto';
        font-size: 15px;
    }

    .productInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 212px;
        height: 62px;
        background: #F8F8F8;
        border-radius: 5px;
        padding-left: 13px;
        padding-right: 9px;

        img {
            margin-right: 9px;
        }

        .price {
            margin-top: 6px;
            font-family: 'Roboto';
            font-size: 15px;
            font-weight: 700;   
        }

        .productInfoContainer {
            display: flex;
        }
    }
}

.message {
    padding-bottom: 10px;
}

.messageInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    border: 1px solid #E9EBF2;
    box-sizing: border-box;
    height: 55px;
    font-family: 'Roboto';
    font-weight: 700;
    padding-left: 20px;
    padding-right: 12px;

    input {

        width: auto;
    }

    .clip {
        margin-left :12px
    }
}