@import 'src/nullStyle.scss';
@import 'src/App.module.scss';

.form {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1136px;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    margin-top: 78px;

    h3 {
        font-size: 22px;
        font-weight: normal;
        line-height: 25.3px;
        margin-top: 36px;
        margin-bottom: 24px;
    }

    button {
        background: #349A89;
        color: #FFFFFF;
        font-size: 16px;
        border-radius: 5px;
        width: 377px;
        height: 58px;
        margin-top: 8px;
        margin-bottom: 32px;
    }
    
    input {
        display: block;
        background: #F9FAFB;
        border: 1px solid #DEDEE0;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 5px;
        padding-left: 22.9px;
        width: 664px;
        height: 58px;
        * {
            margin-left: 13px;
        }
    }
    .description {
        display: block;
        background: #F9FAFB;
        border: 1px solid #DEDEE0;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 16px;
        font-family: Helvetica;
        margin-top: 4px;
        margin-bottom: 5px;
        padding-left: 22.9px;
        padding-top: 19px;
        width: 664px;
        height: 183px;
        resize: none;
    }


    label {
        display: block;
        font-size: 12px;
        margin: 0px;
    }
}

.group {
    margin-bottom: 24px;
}

.pageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listItem {
    position: relative;
    background-color: #FFFFFF;
    width: 209px;
    height: 212px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
    border-radius: 4px;
    margin: 5px 3px;
    padding: 0px;
}

.listItemImage {
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 2.5px;
    width: 202px;
    height: 148px;
    &:hover{
        opacity: .7;
    }
}

.listItemTitle {
    font-size: 15px;
    font-family: "Helvetic";
    cursor: pointer;
    color: #373738;
    max-width: 185px;
    height: 17px;
    margin-top: 6px;
    margin-left: 12px;
    &:hover{
        text-decoration: underline;
    }
}

.listItemPrice {
    font-size: 18px;
    font-weight: 900;
    font-family: "Helvetic";
    color: #101010;
    width: 74px;
    height: 21px;
    margin-top: 7px;
    margin-left: 12px;

}

.NavLink {
    text-decoration: none;
}



.likeContainer {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 7px;
    bottom: 46px;
    background-color:#FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);

    .save {
        position: absolute;               
        top: 50%; 
        left: 50%;                       
        transform: translate(-50%, -50%);
    }
} 