@import 'src/nullStyle.scss';
@import 'src/App.module.scss';

.saveContainer {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 7px;
    bottom: 46px;
    background-color:#FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);

    .save {
        position: absolute;               
        top: 50%; 
        left: 50%;                       
        transform: translate(-50%, -50%);
    }
}
