.pageBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
        padding: 0px;
    }
}
.productsList {
    display: flex;
    flex-wrap: wrap;
    max-width: 861px;
}


.userProfileInfo {
    margin-top: 15px;

    .avatar {
        display: inline-block;
        background-color: orange;
        line-height: 95px;
        height: 95px;
        width: 95px;
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
        border-radius: 50%;
     
    }
    
    .fullName {
        margin-top: 17px;
        margin-bottom: 60px;
        color: #141414;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    

}



