@import 'src/nullStyle.scss';
@import 'src/App.module.scss';

.pageBody {
    max-width: auto;
}

.productView {
    display: flex;
    justify-content: center;
}

.itemPrice {
    cursor: default;
    font-size: 18px;
    font-weight: 900;
    font-family: "Helvetic";
    color: #101010;
    width: 74px;
    height: 21px;
    margin-top: 7px;
    margin-left: 12px;
}

.saveContainer {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 7px;
    bottom: 46px;
    background-color:#FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);

    .save {
        position: absolute;               
        top: 50%; 
        left: 50%;                       
        transform: translate(-50%, -50%);
    }
} 

.productDescription {
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(121, 121, 121, 0.0527344);
    border-radius: 4.32px;  
    width: 583px;
    min-height: 500px;
    background-color: #FFFFFF;
    position: relative;

    .productImage {
        display: block;
        width: 577px;
        height: 274px;
        margin: auto;
        margin-top: 3px;
        overflow: hidden;
        img {
            width: 577px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
    }

    .itemPriceContainer {
        z-index: 1;
        position: absolute;
        right: 2px;
        top: 253px;
        background-color:#FFFFFF;
        width: 107px;
        height: 50px;
        border-radius: 10.8px 0px 10.8px 10.8px;
        align-items: center;
        .itemPrice {
            margin-top: 6.5px;
            margin-left: auto;
        }
    }

    .firstLineProductView {
        margin-top: 11px;
        margin-left: 20px;
        .viewTitle {
            display: inline-block;
            font-size: 18px;
            color: #373738;
            
        }
        .date {
            display: inline-block;
            font-size: 14px;
            color: #9D9D9D;
            margin-left: 5px;
        }
    }
    .secondLineProductView {
        margin-top: 2px;
        margin-left: 20px;
        margin-right: 3px;
        line-height: 34px;
        display: block;
        border-bottom: #E4E4E4 solid 2px;
        .location {
            color: #9D9D9D;
            font-size: 14px;
            margin-left: 7px;
            display: inline-block;
        }
    }
    
    .description {
        width: 545px;
        margin-left: auto;
        margin-top: 13px;
        margin-bottom: 13px;
    }
}


.rightBar {
    margin-left: 12.8px;
    .productOwner {
        width: 259px;
        height:146px;
        background-color: #FFFFFF;
        border-radius: 4px;
    
    }

    .avatarContainer {
        background-color: #349A89;
        height: 50px;
        border-radius: 4px 4px 0 0;
        .avatar {
            display: inline-block;
            background-color: orange;
            border-radius: 50%;
            line-height: 78px;
            width: 78px;
            font-size: 30px;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;
            margin-top: 14px;
            margin-left: 93.5px;
        }
    }
    .location {
        color: rgba(43, 43, 43, 0.499918);
        font-size: 15x;
        margin-bottom: 13px;
        text-align: center;
    }

    .userName {
        margin-bottom: 4px;
        margin-top: 54px;
        text-align: center;
    }

    .saveButton {
        width: 259px;
        height: 47px;
        background-color: #FFF;
        border: 1px solid #349A89;
        display: inline-block;
        margin-top: 9px;
        font-size: 14px;
        color: #535353;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        .textContainer {
            margin-left: 14px;
        }

        &:hover {
            opacity: .7;
        }

        &:active {
            background-color: grey;
        }
    }

}
